<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
    <style>
      h1 {color: burlywood; font-weight: 600;} h2{color: green; font-weight:
      600; font-size: small;}
      p {color: cadetblue; font-weight: 200;}

    </style>
  </head>
  <body>
    <h1>Hello {{name}}</h1>
    <h2>Welcome to the{{company}}</h2>
    <div>
      <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Beatae, 
        exercitationem. Lorem ipsum dolor sit amet, consectetur adipisicing elit. Neque quasi quis cum rem temporibus consectetur eveniet accusantium obcaecati, maiores saepe?</p>
        <p>{{paragraph}}</p>
    </div>
    <footer>
      <p>Thank you {{name}}</p>
      <p>Regards from {{company}}</p>
    </footer>

  </body>
</html>